
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  height: 20vh;
}

header h1 {
  font-size: 400%;
  width: 600px;
  margin: auto;
  text-align: center;
}

.portfolio-picture {
  vertical-align: left;
  width: auto;
  height:100%;
  border-radius: 25%;
}

.nav {
  width: 100%;
  background-color: #4e57e0;
  overflow: auto;
}

.nav a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: #1038a5;
}

@media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
  }
}

body {
  display: flex;
  flex-direction: column;
  line-height: 2;
  background-color: lightblue;
  font-size: larger;
}

.about-me {
  display: flex;
}

section h2 {
  padding: 3%;
  border: solid;
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  font-size: 200%;
}

section p {
  padding-left: 3%;
}

section img {
  display: flex;
  padding-left: 3%;
}
section img:hover {
  cursor: pointer;
  opacity: .5;
  transform: scale(110%);
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horiseon {
  height: 400px;
  width: 900px;
  padding: 3%;
}

.placeholder {
  height: 200px;
  width: 300px;
  padding: 3%;
}

.footer {
  width: 100%;
  background-color: #4e57e0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.footer a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.footer a:hover {
  background-color: #1038a5;
}

@media screen and (max-width: 500px) {
  .footer a {
    float: none;
    display: block;
  }
}