
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  height: 20vh;
}

header h1 {
  font-size: 400%;
  width: 600px;
  margin: auto;
  text-align: center;
}

.portfolio-picture {
  vertical-align: left;
  width: auto;
  height:100%;
  border-radius: 25%;
}

.nav {
  width: 100%;
  background-color: #4e57e0;
  overflow: auto;
}

.nav a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: #1038a5;
}

@media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 1.5;
  background-color: lightblue;
  font-size: larger;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-me,
.work {
  display: flex;
  margin: auto;
  width: 98%;
  justify-content: center;
}

section h2 {
  border: solid;
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  font-size: 200%;
  width: 300px;
}

section p {
  padding: 1rem 3%;
  width: 900px;
  font-size: 1.5rem;
  text-align: justify;
}

section img:hover {
  cursor: pointer;
  opacity: .5;
  transform: scale(110%);
}

.images {
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.images2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px
}

.horiseon {
  height: auto;
  width: 900px;
  margin-bottom: 2rem;
}

.placeholder {
  height: auto;
  width: 400px;
}

.placeholder img {
  width: 100%;
  height: auto;
}

.footer {
  width: 100%;
  background-color: #4e57e0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

footer h2 {
  font-size: 200%;
}

.footer a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.footer a:hover {
  background-color: #1038a5;
}

@media screen and (max-width: 500px) {
  .footer a {
    float: none;
    display: block;
  }
}